{% extends 'base.html' %}

{% block content %}
<section id="about" class="mb-4">
    <h2>Про себе</h2>
    <img src="{{ url_for('static', filename='images/my_photo.jpg') }}" alt="Моє фото" class="img-thumbnail mb-2">
    <p>Мене звати Роман. Я захоплююсь програмуванням та веб-розробкою, вчуся створювати інтерактивні сайти на Flask. Люблю експериментувати з новими технологіями та постійно вдосконалюю свої навички.</p>
</section>

<section id="education" class="mb-4">
    <h2>Освіта</h2>
    <p>Карпатський університет імені Василя Стефаника, 2023–2027. Факультет інформаційних технологій, спеціальність “Інженерія програмного забезпечення”</p>
</section>

<section id="skills" class="mb-4">
    <h2>Навички</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>HTML/CSS</li>
        <li>Java Script</li>
        <li>Angular</li>
    </ul>
</section>

<section id="technologies" class="mb-4">
    <h2>Технології</h2>
    <p>Bootstrap, Git, Jinja2</p>
</section>

<section id="projects" class="mb-4">
    <h2>Досвід роботи / Проекти</h2>
    <p>Реалізував кілька веб- та Python-проектів: адаптивні сайти на Flask, автоматизовані скрипти та інтеграції з API, що покращили мої практичні навички програмування.</p>
</section>
{% endblock %}